<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books Management</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Books Management</h1>

<!-- Show all books -->
<h2>Book List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Color</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.color}"></td>
        <td class="actions">
            <!-- Update form -->
            <form th:action="@{'/books/updatebook/' + ${book.id}}" method="post">
                <input type="text" name="title" th:value="${book.title}" required>
                <input type="text" name="color" th:value="${book.color}" required>
                <button type="submit">Update</button>
            </form>

            <!-- Delete button -->
            <form th:action="@{'/books/deletebook/' + ${book.id}}" method="post">
                <button type="submit" class="delete" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<form action="/books/filter" method="get">
    <input type="text" name="keyword" placeholder="Search by Title">
    <button type="submit" >Search</button>
</form>

<form action="/books/filtercolor" method="get">
    <input type="text" name="keyword" placeholder="Search by Color">
    <button type="submit" >Search</button>
</form>
<!-- Add new book form -->
<div class="create-form">
    <h2>Add New Book</h2>
    <form th:action="@{/books/createbook}" method="post">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="color" placeholder="Color" required>
        <button type="submit">Create Book</button>
    </form>
</div>

</body>
</html>
